 <title>Hello, I'm Ykat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link href="css/style.css" rel="stylesheet">
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">


<body>


  <div class="container">
    <div class="flip"> 

        <div class="card"> 

 <div class="face front"> 

                <div id="title">

                  <p>Hello, I'm</p>
                  <div id="ykat">
                  <p><a><span style="letter-spacing:.02em">Yk</span><span style="letter-spacing:-0.06em">at</span></a></p>
                  </div>
                  <div id="pro"><p>{ pronounced " why - cat " }</p>
                  </div>



                  <div id="icon"><a href="#"><img class="grayscale" src="82.jpg"></class></a></div>
                  <div id="info"><p>I'm a <a class="link">designer</a> & aspiring <a class="link">web developer</a> born in Moscow and raised and presently residing in the SF Bay Area. I'm a recent UC Davis Design grad and am currently a student at General Assembly's Web Development Immersive Program. When I'm not crafting code, I like to <a class="link">take photographs</a> and hang out with my 3 cats.</p>
                  </div>
              
<div id="menu">
  <a href="#">Want to get in touch?</a>
</div>

                </div>
            </div> 
            <div class="face back"> 
                <ul>
<li><a href="http://www.twitter.com/ykatesque">L</a></li><li><a href="http://www.linkedin.com/pub/yekaterina-novikova/22/b68/77b">I</a></li><li><a href="http://www.facebook.com/yekaterina">F</a></li><li><a href="http://ykatlikes.tumblr.com">O</a></li><li><a href="http://www.flickr.com/photos/yekaterina/">N</a></li>
     </ul>
            </div> 
        </div> 
    </div>
  </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


<script>

    $('#menu a').click(function(){

        $('.card').addClass('flipped').mouseleave(function(){
            $(this).removeClass('flipped');
        
        });
        return false;
    });

    </script>
</body>
</html>